@import '../../../scss/variables';

.container {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.button {
  border-radius: 0;
  flex: 1 1 0%;
}

.buttonActive {
  background: $active;
}

.buttonNotActive {
  background: $accent;
}
