@import '../../../../scss/variables';

.checkBox {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;

  > svg {
    height: 100%;
    width: 100%;
  }
  &.done {
    background: $accent;
  }

  &.unDone {
    background: $disabled;
  }
}
