@import '../../../scss/variables';

.limiter {
  padding: 15px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: $foregroundColor;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}

.headerContainer {
  background: $accent;
  display: flex;
  height: 150px;
  align-items: center;
  text-transform: uppercase;
}

.header {
  width: 100%;
  text-align: center;
  color: #fff;
}

.form {
  display: grid;
  padding: 50px 25px 10px 25px;
}

.fluterText {
  padding: 120px 0 40px 0;
  display: grid;
  text-align: center;
}
