@import '../../../scss/variables';

.modalOverlay {
  isolation: isolate;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 30px;
  @media (max-height: 480px) {
    padding: 5px;
    justify-content: flex-start;
  }
}

.modalWindow {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: whitesmoke;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  max-height: 450px;
  background-color: #fff;
  padding: 35px;
  border-radius: 25px;

  @media (max-width: 480px) {
    padding: 25px;
  }
}

.modalHeader {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modalTitle {
  font-weight: bold;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.modalClose {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;
}
