@import '../../scss/variables';

.limiter {
  background: $backgroundColor;
  padding: 15px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
}

.container {
  width: 100%;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background: $foregroundColor;
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);

  padding: 35px 40px 35px 40px;

  @media (max-width: 456px) {
    padding: 25px 15px 25px 15px;
  }
}

.searchContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 10px;

  > input {
    flex: 1 1 150px;
  }
}

.buttonGroup {
  display: flex;
  flex: 1 0 220px;
  gap: 10px;

  > div {
    flex: 4 0 150px;
  }

  .settingsButton {
    flex: 1 0 50px;

    > button {
      padding: 0 10px;
    }
  }
}

.ToDoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
