@import '../../scss/variables';

.limiter {
  background: $backgroundColor;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 35px 40px 35px 40px;
  max-width: 800px;
  background: $foregroundColor;
  border-radius: 25px;
}

.searchContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  > input {
    flex: 4 1 0%;
  }
  > div {
    flex: 3 1 0%;
  }
  > button {
    flex: 1 1 0%;
    padding: 0 10px;
  }
}

.input {
  flex: 2 1 0%;
}

.ToDoList {
  padding: 25px 0;
}

.addContainer {
  display: flex;
  flex: 2 1 0%;
  gap: 10px;
  > button {
    flex: 1 1 0%;
  }
}
