.ToDoItem {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 50px;

  padding: 10px;
  border-radius: 15px;
  background: #ebebeb;
  color: #8e8c8c;
}

.todoDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  overflow: hidden;
}

.todoTexts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todoActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttonSvg {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;
  > svg {
    height: 100%;
    width: 100%;
  }
}
