@import '../../../scss/variables';

.editForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status {
  width: 100%;
  height: 50px;

  background-color: $accent;
  color: #fff;
  text-transform: uppercase;

  border-radius: 15px;
  padding: 0 20px;
}
