@import '../../../scss/variables';

.limiter {
  background: $backgroundColor;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 35px 40px 35px 40px;
  max-width: 800px;
  background: $foregroundColor;
  border-radius: 25px;
}

.searchContainer {
  width: 100%;
  display: flex;
  gap: 10px;
}

.input {
  background: #ebebeb;
  flex: 2 1 0%;
  padding: 0 25px;
  height: 50px;
  color: #8e8c8c;
  border-radius: 15px;
}

.searchButtonContainer {
  display: flex;
  flex: 1 1 0%;
  border-radius: 15px;
  overflow: hidden;
}

.buttonFilter {
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
}

.filterBtnActive {
  background: #b8a73e;
}

.filterBtn {
  background: $accent;
}

.button {
  background-color: $accent;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
}

.circleButton {
  background-color: $accent;
  padding: 0 20px;
  height: 50px;
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
}

.ToDoList {
  padding: 25px 0;
}

.ToDoItem {
  width: 100%;
  height: 50px;
  background: #ebebeb;
  color: #8e8c8c;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;

  justify-content: space-between;
  &:last-child {
    margin-bottom: 0;
  }
}

.todoDetails {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: start;
}

.todoTexts {
  display: grid;
  gap: 5px;
}

.todoActions {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.addContainer {
  display: flex;
  flex: 2 1 0%;
  gap: 10px;
  > .button {
    flex: 1 1 0%;
  }
}

.buttonSvg {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;
  background: $accent;
  color: #fff;
  > svg {
    height: 100%;
    width: 100%;
  }
}
