@import '../../../scss/variables';

.input {
  background: $bgInput;
  width: 100%;
  height: 50px;

  color: $textInput;
  border-radius: 15px;
  padding: 0 25px;

  &::placeholder {
    color: $placeholderInput;
  }
}
