@import '../../../scss/variables';

.input {
  background: $bgInput;
  padding: 0 25px;
  width: 100%;
  height: 50px;
  color: $textInput;
  border-radius: 15px;
  margin-bottom: 20px;

  &::placeholder {
    color: $placeholderInput;
  }
}
