@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

$accent: #f5d81d;
$hover: #ffed76;
$active: #b8a73e;
$disabled: rgb(191, 191, 191);

$bgItems: #ebebeb;

$bgInput: #ebebeb;
$placeholderInput: #6a6a6a;
$textInput: #3e3e3e;

$backgroundColor: #f1e8e8;
$foregroundColor: #fff;

//$default-font: 'Arial', 'Helvetica', 'sans-serif';
$default-font: 'roboto';
