.container {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-form {
  background: #fff;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form {
  margin: 15px 40px;
  padding-top: 20px;
  text-align: center;
}

.login-form-title {
  font-size: 30px;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  background-color: #ffd511;
  padding-top: 50px;
  padding-bottom: 39px;
  box-sizing: border-box;
}

.sign-up-form-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
